.App {
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
	background-color: #fafafa;

	padding-top: 4rem;
	min-height: 100vh;

	font-family: "Comfortaa", Helvetica, cursive;
	font-weight: 500;
}

.navbar {
	background-color: rgb(239, 83, 80) !important;
}

@media (max-width: 420px) {
	.poke-footer {
		text-align: center !important;
	}
	.poke-footer button {
		transform: translate(-45%, 0);
	}
}
@media (max-width: 780px) {
	.poke-footer button {
		width: 6rem;
	}
}

.navbar-toggler:hover {
	box-shadow: 0 0 10px #fff, 0 0 20px #fff;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
	outline: none !important;
}
.navbar-toggler {
	background: #fff !important;
}

.progress,
.img-poke {
	transition: all 0.3s ease-in-out;
}
.progress {
	cursor: grab;
}
.img-poke {
	cursor: url("./pokemon.svg"), auto;
}
.progress:hover {
	transform: scale(1.1) translateX(-10px);
}
.img-poke:hover {
	transform: scale(1.2);
}

.activated {
	transform: scale(1.1);
	border-bottom: 2px solid #fff;
}

.clicked {
	visibility: hidden;
	display: none;
}
